
@{
    ViewData["Title"] = "Unicef";
}

<header>
    <img src="~/Images/ebreszto.png" alt="Unicef logo" />
    <img src="https://lh4.googleusercontent.com/8FFxILqS7i4RQI_JgexL2h4zq55HeL8XZe6AFL0llYmeYJjC5UO9ULd_ckQKAq8wyiXsPVP2mB7CRVrIUGL1Ccy6gd1mOvaJh-wHyBxj_B8OmRwOuhGd5UQdpLFeLru3y8XdgWcyUg2s8sO-WQ" width="605" height="73" style="border: none; transform: rotate(0.00rad); -webkit-transform: rotate(0.00rad);" />
</header>

@*<h2>@ViewData["Title"].</h2>*@
<h3>Kiváncsiak vagyunk a véleményedre!</h3>

