
@{
    ViewData["Title"] = "Unicef";
}

<header>
    @*<img src="~/Images/ebreszto.png" alt="Unicef logo" />*@
    <img src="https://lh4.googleusercontent.com/8FFxILqS7i4RQI_JgexL2h4zq55HeL8XZe6AFL0llYmeYJjC5UO9ULd_ckQKAq8wyiXsPVP2mB7CRVrIUGL1Ccy6gd1mOvaJh-wHyBxj_B8OmRwOuhGd5UQdpLFeLru3y8XdgWcyUg2s8sO-WQ" width="605" height="73" style="border: none; transform: rotate(0.00rad); -webkit-transform: rotate(0.00rad);" />
</header>

<h2>Kiváncsiak vagyunk a véleményedre!</h2>
<article>
    <form method="post" action="submit">
        <h3>Kérjük, hogy 1-től 5-ig (ahol az 1-es a legrosszabb és az 5-ös a legjobb) értékeld:</h3>
        <ul>
            <li>az UNICEF Ébresztő-órát: <input type="number" name="ebreszto" min="1" max="5" /></li>
            <li>az UNICEF előadópárt: <input type="number" name="eloado" min="1" max="5" /></li>
            <li>mennyire érezted hasznosnak ezt a 90 percet: <input type="number" name="90perc" min="1" max="5" /></li>
        </ul>

        <h3>Beszéltél már valakivel vagy valahol a gyerekjogokról? Ha igen, kivel-hol?</h3>
        <label><input type="checkbox" name="1a" /> iskolában</label><br />
        <label><input type="checkbox" name="1b" /> otthon szülővel</label><br />
        <label><input type="checkbox" name="1c" /> családban</label><br />
        <label><input type="checkbox" name="1d" /> baráttal</label><br />
        <label><input type="checkbox" name="1e" /> UNICEF-től hallottam róla</label><br />
        <label><input type="checkbox" name="1f" /> interneten olvastam róla</label><br />
        <label><input type="checkbox" name="1g" /> TV-ben hallottam</label><br />
        <label><input type="checkbox" name="1h" /> egyéb</label><br />
        <label><input type="checkbox" name="1i" /> Nem, még sosem hallottam a gyerekjogokról</label><br />

        <h3>Mi volt a leghasznosabb abból, amit az Ébresztő-órán hallottál?</h3>
        <label><input type="checkbox" name="2a" /> gyermekjogok</label><br />
        <label><input type="checkbox" name="2b" /> szegény gyerekek helyzete a világban</label><br />
        <label><input type="checkbox" name="2c" /> UNICEF munkája</label><br />
        <label><input type="checkbox" name="2d" /> internetes zaklatást</label><br />
        <label><input type="checkbox" name="2e" /> segítségnyújtás</label><br />
        <label><input type="checkbox" name="2f" /> játék</label><br />
        <label><input type="checkbox" name="2g" /> film</label><br />
        <label><input type="checkbox" name="2h" /> minden</label><br />
        <label><input type="checkbox" name="2i" /> semmi</label><br />


        <h3>Az Ébresztő-óra melyik része, melyik játék tetszett a legjobban?</h3>
        <label><input type="checkbox" name="3a" /> gyermekjogok</label><br />
        <label><input type="checkbox" name="3b" /> szegény gyerekek helyzete a világban</label><br />
        <label><input type="checkbox" name="3c" /> UNICEF munkája</label><br />
        <label><input type="checkbox" name="3d" /> internetes zaklatást</label><br />
        <label><input type="checkbox" name="3e" /> segítségnyújtás</label><br />
        <label><input type="checkbox" name="3f" /> játék</label><br />
        <label><input type="checkbox" name="3g" /> film</label><br />
        <label><input type="checkbox" name="3h" /> minden</label><br />
        <label><input type="checkbox" name="3i" /> semmi</label><br />


        <h3>Miről lett volna jó még többet beszélgetni?</h3>
        <label><input type="checkbox" name="4a" /> gyermekjogok</label><br />
        <label><input type="checkbox" name="4b" /> szegény gyerekek helyzete a világban</label><br />
        <label><input type="checkbox" name="4c" /> UNICEF munkája</label><br />
        <label><input type="checkbox" name="4d" /> internetes zaklatást</label><br />
        <label><input type="checkbox" name="4e" /> segítségnyújtás</label><br />
        <label><input type="checkbox" name="4f" /> játék</label><br />
        <label><input type="checkbox" name="4g" /> film</label><br />
        <label><input type="checkbox" name="4h" /> minden</label><br />
        <label><input type="checkbox" name="4i" /> semmi</label><br />

        <h3>Mi az, amiről túl sokat beszéltünk, vagy ami kevésbé tetszett?</h3>
        <label><input type="checkbox" name="5a" /> gyermekjogok</label><br />
        <label><input type="checkbox" name="5b" /> szegény gyerekek helyzete a világban</label><br />
        <label><input type="checkbox" name="5c" /> UNICEF munkája</label><br />
        <label><input type="checkbox" name="5d" /> internetes zaklatást</label><br />
        <label><input type="checkbox" name="5e" /> segítségnyújtás</label><br />
        <label><input type="checkbox" name="5f" /> játék</label><br />
        <label><input type="checkbox" name="5g" /> film</label><br />
        <label><input type="checkbox" name="5h" /> minden</label><br />
        <label><input type="checkbox" name="5i" /> semmi</label><br />

        <h2>Kvíz</h2>
        <p>Ezzel a játékos kvízzel azt szeretnénk megtudni, hogy mire emlékeztek az órából. Ez nem dolgozat, senki nem fogja leosztályozni, kérjük, a nevedet se írd rá!</p>
        <ol>
            <li>
                <p>A gyermekek jogainak gyűjteményét az ENSZ Gyermekjogi egyezménye tartalmazza.  De mit jelentenek a gyermekjogok?</p>
                <ul>
                    <li><label><input type="radio" name="q1" value="a" />Néhány szabályt arról, hogy milyen fantasztikusak a gyerekek!</label></li>
                    <li><label><input type="radio" name="q1" value="b" />Néhány szabályt arról, hogy a gyerekeknek mindenhez joguk van.</label></li>
                    <li><label><input type="radio" name="q1" value="c" />Néhány szabályt arról, hogyan kellene a gyerekekkel bánni.</label></li>
                </ul>
            </li>

            <li>
                <p>Miért kell, hogy a gyerekeknek külön jogaik legyenek?</p>
                <ul>
                    <li><label><input type="radio" name="q2" value="a" />Mert a gyerekek túl mohók.</label></li>
                    <li><label><input type="radio" name="q2" value="b" />Nincsenek is külön jogai a gyerekeknek.</label></li>
                    <li><label><input type="radio" name="q2" value="c" />Mert a gyerekeket külön védelem és gondoskodás illeti meg.</label></li>
                </ul>
            </li>

            <li>
                <p>Az ENSZ speciális, a gyermekek jogaival és jóllétével foglalkozó szervezete az UNICEF. Mit tesz az UNICEF a gyerekek jogaiért?</p>
                <ul>
                    <li><label><input type="radio" name="q3" value="a" />Megbünteti azokat, akik gyerekeket bántanak.</label></li>
                    <li><label><input type="radio" name="q3" value="b" />Biztosítja, hogy az országokban érvényesüljenek a gyerekjogok.</label></li>
                    <li><label><input type="radio" name="q3" value="c" />Biztosítja, hogy az ENSZ Gyermekjogi egyezménye szépen és tisztán tartva ki legyen állítva egy genfi múzeumban.</label></li>
                </ul>
            </li>

            <li>
                <p>Miért fontos, hogy tudd, milyen jogaid vannak?</p>
                <ul>
                    <li><label><input type="radio" name="q4" value="a" />Azért, hogy jó osztályzatot kapjak a suliban.</label></li>
                    <li><label><input type="radio" name="q4" value="b" />Azért, hogy tudjam, hogyan kellene velem bánni.</label></li>
                    <li><label><input type="radio" name="q4" value="c" />Azért, hogy dicsekedhessek a barátaim előtt.</label></li>
                </ul>
            </li>

            <p>Most pedig néhány rövid esetet olvashatsz. Vajon melyik a helyes megoldás?</p>

            <li>
                <p>Pippa szülei elváltak, és ő a mamájával él. Apukáját nem láthatja, csak havonta egyszer, de ő szeretne többször találkozni vele. Van joga Pippának kérni ezt?</p>
                <ul>
                    <li><label><input type="radio" name="q5" value="a" />Nem. Pippa még gyerek. Nem szólhat bele a felnőttek dolgába.</label></li>
                    <li><label><input type="radio" name="q5" value="b" />Igen, minden gyereknek figyelembe kell venni a véleményét az őt érintő döntésekben.</label></li>
                    <li><label><input type="radio" name="q5" value="c" />Persze, Pippa dönti el, hogy mikor és hogyan akar az apukájával találkozni.</label></li>
                </ul>
            </li>

            <li>
                <p>Max 10 éves, és nem nagyon szokta megcsinálni a házi feladatát. Azt gondolja, hogy buta ahhoz, hogy egyedül megválaszolja a kérdéseket. Tud valaki segíteni neki?</p>
                <ul>
                    <li><label><input type="radio" name="q6" value="a" />Nem. Maxnak keményebben kell dolgoznia. Ez csak rajta múlik.</label></li>
                    <li><label><input type="radio" name="q6" value="b" />Maxnak joga van a tanuláshoz, és hogy a tanárai, szülei és más felnőttek segítsék őt abban, hogy jól teljesítsen az iskolában.</label></li>
                    <li><label><input type="radio" name="q6" value="c" />Maxot jól el kellene verni.</label></li>
                </ul>
            </li>

            <li>
                <p>Franciskát és testvérét a szülei mindig megverik otthon, ha valami rosszat csinál.<br />Megtehetik ezt? </p>
                <ul>
                    <li><label><input type="radio" name="q2" value="a" />Nem, a gyerekeket egyáltalán nem szabad megverni.</label></li>
                    <li><label><input type="radio" name="q2" value="b" />Igen, egy szülő bármit megtehet.</label></li>
                    <li><label><input type="radio" name="q2" value="c" />Csak kicsit verhetik meg, nagyon – például úgy, hogy nyoma maradjon, nem.</label></li>
                </ul>
            </li>
        </ol>

        <input type="submit" value="Küldés" />
    </form>
</article>